<section id="bonjour" class="container section">
  <div class="row">
    <div class="col-md-10">
      <h2 id="bonjour-header" class="section-title">Bonjour_</h2>
      <p class="section-description">
        I am a full-stack developer with a specialisation in web microservices and data engineering.
        Skilled at writing well-designed, testable and efficient code using current best practices
        in software development. Fast learner, hard worker and team player who is proficient in an array of OOP
        and scripting languages. During my free time, I also produce electronic music and release my tracks on
        music-streaming platforms.
      </p>
      <button type="button" class="btn  btn-lg rounded-btn primary-color">
        <i class="fa fa-download"></i> Download Resume
      </button>
    </div>
  </div>
</section>
