<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * Xavier Chopin * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->


<app-header></app-header>
<app-profile></app-profile>
<section id="bonjour" class="container section">
  <div class="row">
    <div class="col-md-12 col-lg-12">
      <h2 id="bonjour-header" class="section-title">Bonjour<span class="pulse">_</span></h2>
      <p class="section-description">
        I am a full-stack developer with a specialization in web microservices and data engineering.
        Skilled at writing well-designed, testable and efficient code using current best practices
        in software development. I am a fast learner, hard worker and team player who is proficient in an array of OOP
        and scripting languages. During my free time, I also produce electronic music and release my tracks on
        music-streaming platforms.
      </p>
      <a href="/assets/resume.pdf" type="button" class="rounded-btn primary-color">
        <i class="fa fa-download"></i> Download Resume
      </a>
    </div>
  </div>
</section>

<hr>
<app-resume></app-resume>
<app-testimonial></app-testimonial>
<app-terminal></app-terminal>

<footer>
  <div class="container">
    <p class="float-right">
      <a target='_blank' href="https://angular.io">Built with ❤️ using Angular</a>
    </p>
    <p>© {{ currentYear() }} Xavier Chopin / All rights reserved. </p>
    <div class="row">
      <div class="col-12">
        <span>
          <a href='mailto:bonjour@chopin.us' target="_blank">
            <i class="fa fa-2x fa-envelope-square"></i>
          </a>
        </span> &nbsp; &nbsp;
        <span>
          <a href='https://www.linkedin.com/in/chopinxavier/' target="_blank">
            <i class="fa fa-2x fa-linkedin-square"></i>
          </a>
        </span> &nbsp; &nbsp;
        <span>
          <a href='https://github.com/xchopin' target="_blank">
            <i class="fa fa-2x fa-github-square"></i>
          </a>
        </span>
    </div>
    </div>
  </div>
</footer>









<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->



<router-outlet></router-outlet>
