<div class="container section">
  <div class="row">
    <div class="col-md-12">
      <h2 id="resume" class="section-title">Skills<span class="pulse">_</span></h2>
      <div class="terminal-window">
        <div class="header">
          <nav class="controls">
            <span class="control-item control-close"><i class="bull"></i></span>
            <span class="control-item control-minimize"><i class="bull"></i></span>
            <span class="control-item control-open"><i class="bull"></i></span>
          </nav>
        </div>
        <main>
          <div class="terminal">
            <div class="line command">
              <pre><span class="dollar">mbp:~ xchopin$ </span><span class="command">IT Skills</span></pre>
            </div>
            <div class="line red">
              <pre>> Advanced</pre>
            </div>
            <div class="line">
              <pre>HTML/CSS (Sass), Java (JAX-RS, Spring-Boot), NoSQL (MongoDB), PHP (Symfony), <br>Python, SQL (MySQL, Oracle)</pre>
            </div>

            <div class="line red">
              <pre>> Intermediate</pre>
            </div>

            <div class="line">
              <pre>Bash, C, C# (ASP.NET), JavaScript (Angular, Vue.js), Lua</pre>
            </div>

            <div class="line red">
              <pre>> Miscellaneous</pre>
            </div>

            <div class="line">
              <pre>Agile (SCRUM), Apache, CI, CD, Docker, Electron, Git, Ionic, i18n, LDAP, Linux, <br>Open-source, object-oriented design,  RESTful APIs, SSO (CAS), UML, xAPI</pre>
            </div>

            <br/>

            <div class="line">
              <pre>[#########################]</pre>
            </div>

            <br/>

            <div class="line command">
              <pre><span class="dollar">mbp:~ xchopin$ </span><span class="command">Languages</span></pre>
            </div>

            <div class="line red">
              <pre>> French (Mother tongue)</pre>
            </div>

            <div class="line red">
              <pre>> English (Fluent)</pre>
            </div>

            <div class="line red">
              <pre>> German (Beginner)</pre>
            </div>

            <br/>
            <div class="line">
              <pre>[####################<span class="load"></span>    ]</pre>
            </div>
            <br/>
            <div class="prompt line">
              <pre><span class="dollar">mbp:~ xchopin$ </span><span contenteditable="true" class="command"></span><span class="pulse">_</span></pre>
            </div>
          </div>
        </main>
      </div>
    </div>
  </div>
</div>

