<app-resume-list
  title="University of Lorraine"
  date="October 2017 - December 2019"
  location="Nancy, France"
  description="Lead developer for the creation of Big Data tools for the French Higher Education system in a machine-learning context (Learning Analytics)"
  [tasks]="[
  'Main contributor of a scalable data warehouse Java API for Big Data (Spring-Boot, MongoDB)',
  'NoSQL data modeling through open standards',
  'Developed Python scripts for treating large data volumes from SQL, LDAP and CSV sources',
  'Full-stack development of an i18n PHP web application for a large user population (Symfony)',
  'DevOps tasks (CentOS/RHEL administration, Git, Docker, Dockerfile, Logstash, CI/CD)'
  ]">

</app-resume-list>
