<div class="container section">
  <div class="row">
    <div class="col-md-12">
      <h2 id="resume" class="section-title">Resume<span class="pulse">_</span></h2>
      <div class="resume-list">
        <h3 class="title">Work experience</h3>
        <app-resume-list *ngFor="let experience of experiences"
                         [title]="experience.title"
                         [date]="experience.date"
                         [location]="experience.location"
                         [description]="experience.description"
                         [tasks]="experience.tasks"
        >
        </app-resume-list>

        <h3 style="margin-top: 2.5em;" class="title">Education</h3>

        <app-resume-list *ngFor="let education of educations"
                         [title]="education.title"
                         [date]="education.date"
                         [location]="education.location"
                         [description]="education.description"
        >
        </app-resume-list>
      </div>
    </div>
  </div>
</div>
