<header class="main-header" style="background-image: url(assets/img/header_background.jpg)">
  <div class="container">
    <div class="row personal-profile">

      <div class="col-md-4 personal-profile-avatar">
        <img class="profile-picture" src="assets/img/profile.jpg" alt="avatar">
      </div>
      <div class="col-md-8">

        <p class="profile-name">Xavier Chopin<span class="pulse">_</span></p>
        <div class="profile-title">
          Data Engineer, Full-stack developer
        </div>

        <div class="profile-information">
          <div class="information">
            <span class="label">Age:</span>
            <span class="value">{{calculateAge()}}</span>
          </div>

          <div class="information">
            <span class="label">Email:</span>
            <span class="value">bonjour [at] chopin.us</span>
          </div>

          <div class="information">
            <span class="label">Citizenship: </span>
            <span class="value">French</span>
          </div>

          <div class="information">
            <span class="label">Location:</span>
            <span class="value">Nancy, France</span>
          </div>



          <div class="socials">
            <a href="https://github.com/xchopin" target="_blank"><i class="fa fa-github"></i></a>
            <a href="https://www.linkedin.com/in/chopinxavier/" target="_blank"><i class="fa fa-linkedin-square"></i></a>
          </div>
        </div>
      </div>
    </div>
  </div>

</header>


