@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

body {
  font-family: Roboto, sans-serif;

}

.section {
  margin-top: 3em;
  margin-bottom: 3em;
}


.section-title {
  font-family: Roboto Mono, monospace;
  margin-bottom: 1em;

}


.section-description {
  margin-bottom: 2em;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  color: #555;
}

.rounded-btn {
  height: 50px;
  border-radius: 25px;
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;
  padding: 15px;
  min-width: 170px;
  text-align: center;
  display: inline-block;
  color: #fff!important;
  font-weight: bold;
  overflow: hidden;

}


.primary-color {
  background-color: #6d56c1;

  &:hover {
    background-color: #765cd0;

  }
}

ul {
  margin: 0;
}
ul.dashed {
  list-style-type: none;
}
ul.dashed > li {
  text-indent: -5px;
}
ul.dashed > li:before {
  content: "- ";
  text-indent: -5px;
}

span.pulse {
  animation: pulse 1s ease-in-out infinite;
  text-shadow: 0 0 0 #535050
}
